.container-fluid {
  max-width: 800px;
  max-height: 620px;
  display: block;
  margin: 0 auto;
  background-color: #f9e0c7;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.forecast-squares {
  background-color: rgba(76, 132, 146, 0.5);
  border-radius: 20px;
  max-width: 150px;
  font-size: 18px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.forecast-temperatures {
  font-size: 16px;
}

.forecast-temp-min {
  color: #3a6874;
}

@media (max-width: 767px) {
  .container-fluid {
    max-height: 400px;
    margin-top: 60px;
  }

  .form {
    width: 220px;
  }

  .search {
    padding-left: 30px;
  }
}
