h4 {
  color: #3a6c77;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #f09c67;
  width: 150px;
  border-radius: 30px;
}

.TemperatureValue {
  font-size: 100px;
  color: #4c8492;
  padding-right: 0px;
  max-width: 140px;
  text-align: right;
}

.Celsiusfahrenheit {
  padding: 30px 0px;
  font-size: 30px;
}

.Celsiusfahrenheit button {
  background: none;
  border: none;
}
.Active {
  color: #4c8492;
}

.Active:hover {
  cursor: default;
}

.Icon #icon {
  width: 150px;
}
